body {
    color:saddlebrown;
    background-color: antiquewhite;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-stretch: expanded;
    font-style: oblique;
    border-style: solid;
    border: 2px solid grey;
}

h1{
    color:brown;
    font-size: 40px;
    font-weight: bold;
}
h2{
    color: maroon;
    font-size: 30px;
}
